extends base

block content 
    if errorMessage 
        p=errorMessage
    form(method="POST")
        input(name="name", placeholder="Name", type="text", value=loggedInUser.name)
        input(name="email", placeholder="Email", type="email", required, value=loggedInUser.email)
        input(name="username", placeholder="Username", type="text", required, value=loggedInUser.username)
        input(name="location", placeholder="Location", type="text", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialLogin
            hr
            a(href="change-password") Change Password &rarr;